.creation__screen {
    border: 1px solid black;
    background-color: white;
    width: 400px;
    margin: auto;
    position: absolute;
    left: 50vw;
    /* top: 50vh; */
    transform: translate(-50%);
    /* transform: translateY(-50%); */
}
.creation__screen > label {
    display: block;
    margin: 10px 0 0 10px;
}
.creation__screen > button {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.creation__screen > input, select, textarea {
    margin-left: 10px;
}
.creation__title {
    font-size: 1.5rem;
    text-align: center;
}