
.login {
    width: 400px;
    height: auto;
    /* background-color: red; */
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}
.log__title {
    font-size: 2rem;
    margin-bottom: 30px;
}

.log__login-lable {
    display: block;

}
.input {
    margin-bottom: 10px;
}
.log__login-input  {
    border: 1px solid black;
    font-size: 1.2rem;
}
.log__password-lable {
    display: block;
}
.log__password-input {
    border: 1px solid black;
    font-size: 1.2rem;

}
.log__password-button {
    margin-left: 10px;
}
.log__error-message {
    color: red;
}
.log__error-message:last-of-type {
    margin-bottom: 20px;
}
.log__send-button {
    display: block;
    margin: 20px auto 0px auto;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 5px;
}